/* CIT 230 - Prestion Home page large*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Kalam|Kaushan+Script|Marck+Script');


@media screen and (min-width:755px) {

 



/*Menu Bar Full*/  
nav ul {
  list-style-type: none;
  background-color: #F5F5DC;
  }
nav li {
  display:inline;
  border-right: 1px solid #000000;     
}
nav li a {
  color: white;
  padding: 7px 10px;
  text-decoration: none;
}


.name {
  font-size: 4rem;
}



/*Call to Action*/
.planner h3 {
  text-align: center; 
}
.planner {
	position: absolute;
	top: 60px;
	left: 90px;
	background: rgba(118, 158, 123, 0.651);
	border: 1px solid #2A1200;
	padding: 1rem;
  box-shadow: 0 0 35px #FFD700;
  font-size: 21px;
}

.planner {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.planner li { display: none;
  display: flex;
}

/*Temple Article*/
.imgTA {
  float: right;
  width: 400px;
  height: auto;
}
#img2{
  margin-left: 10px;
}
  


/*Temple Page*/

.templeinfo {
  

  max-width: 950px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}
.templeinfo div {
  display: block;
  border: 3px solid #2A1200;
  box-shadow: 0px 0px 35px #FFD700;
  font-family: 'Kalam';
  background-color: white;
}
.templeinfo figure {
  width:auto;
  height:auto;
  margin: 0px;
  padding: 10px;
}








/*Current Conditions*/
.current-conditions {
  float: right;
  width: 175px;
  height: 106px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.932);
  border: solid #edbc5a 1px;
  display: flex;
  font-style: italic;
  align-items: center;
}
.current {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.8rem;
  color: #ec8d1f;
  float: right;
}
.ccb {
  float: right;
  width: 175px;
  height: 106px;
  margin: 10px;
  background-color: #4b8c2c;
  display: flex;
  font-style: italic;
  align-items: center;
}
.cb {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.8rem;
  color: #28ba35;
  float: right;
}
#ct{
  color: #28ba35;
}



/*Services*/
.img1, .img2 {
  width: 450px;
  height: 350px;
  box-shadow: 2px 2px 2px black;
}



/*Contact Us*/
.leftcol, .rightcol {
  max-width: 48%;
  flex: 1 0 15em;
  padding: 10px;
}
.sec3 { 
 margin-right: 35px;  
}
.sec3 .leftcol {
  box-shadow: 0px 0px 15px black;
}
.list3 {
  list-style-type: none;
  padding:10px;
  font-size: 24px;
  line-height: 1.5em;
}
.sec3 li {
  padding:0px;
  font-family: 'Kalam', Monaco, monospace;
  font-size: 1em;
  line-height: 1em;
  text-align: left;
}
.img3{
  box-shadow: 0px 0px 15px black;
  margin-left: 25px;
  width: 450px;
  height: 368px;
}
.indent {
  text-indent: 30px;
}





}

