/* CIT 230 - Prestion Home page small*/

@import url('https://fonts.googleapis.com/css?family=Courgette|Kalam|Kaushan+Script|Marck+Script');

/*general*/
* { text-align: center; }

h2, h3 {
    font-family: 'Courgette', cursive;
}
main {
  max-width: 58rem; 
  margin:0 auto;
}
body {
  background: rgb(245, 245, 229); 
}
.motto {
  font-family: 'Kalam'; font-size:24px;
  margin-top: -50px;
}


/*Menu Bar*/
nav {
  max-width: 600px;
  margin: 5px auto;
  background: #F5F5DC;
}
.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.navigation li { display: none;}
.navigation li:first-child { display: block;}
.navigation li a { display: block;
	color: #000000;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-size: 1.25rem;
}
.navigation li a:hover {
  background-color: #2A1200;
	color: #FFD700;
}
.responsive li { display: block; }
.active {
  font-weight:bold;
  background-color: #F5F5DC;
}



/*Header*/
header img {
    width: 400;
    height: auto; 
    border: 5px solid #0E62A3;
}
.name {
  color:#F5F5DC;
}






/*Call to Action*/
.planner h3 {
  text-align: center; 
  font-size:24px;
}
.herodiv {
  margin: 10px auto; 
  position: relative;
  }
.heroimg{
  width: 100%;
  min-height: 555px;
}
.planner {
	position: absolute;
	top: 60px;
	left: 90px;
	background: rgba(118, 158, 123, 0.651);
	border: 0px solid #2A1200;
	padding: 15px;
}
.plannerdata {
  padding: 20px 12px 10px 0px;
  font: 18px 'Spectral SC', Gadget, sans-serif;
  box-shadow: 0px 0px 25px #FFD700;
}
.plannerdata li {
  text-align: left;
  list-style: none;
  margin: 18px 8px 0 15px;
}
.plannerdata label{
  display:flex;
  font-weight: bold;
  text-align: left;
}
.plannerdata input{
  width: 100%;
  text-align: left;
}
.plannerdata input[type=submit], .plannerdata input[type=button]{
  text-align: center;
  border-radius: 10px;
  background: #2A1200;
  padding: 8px 0;
  border: none;
  color: #fff;
  cursor: pointer;
}
.plannerdata input[type=submit]:hover, .plannerdata input[type=button]:hover{
  background: rgb(72, 182, 209);
}



/*Temple Artical*/
article p {
  font-family: Geneva, Verdana, sans-serif;
  text-align: left;
  padding-left: 20px;
}
.sec1{
  background-color: #769E7B;
  padding-bottom: 10px;
  padding-top: 1Px;
}
.sec1 h2 {font-size: 30px;
}
.sec1 h5 { margin-top: -20px; 
  font-size: 18px;
}
.imgTA {
  width: 300px;
  height: auto;
  box-shadow: 2px 2px 2px black;
  margin-right: 15px;
  margin-left: 10px;
}
#img2{
  margin-left: 10px;
}



/*Footer*/
footer {
  max-width: 58rem; 
  margin: 23px auto;
  padding-bottom: 10px;
}
footer img {
    height: 200px;
    border: 1px solid black;
  }
footer li{
    list-style-type: none;
    font-family: 'Kalam';
    font-weight: bold;
}
footer ul {
  padding-left: 0px;
}




/*Temple Page*/
.templetitle{font-size: 36px;}
.templeinfo {
  margin: 40px auto;
  display: grid;
  max-width: 400px;
  grid-template-columns: 1fr;
  grid-gap: 2.5rem;
}
.templeinfo div {
  display: block;
  border: 3px solid #2A1200;
  box-shadow: 0px 0px 30px #FFD700;
  font-family: 'Kalam';
  background-color: white;
}
.templeinfo figure {
  width:auto;
  height:auto;
  margin: 0px;
  padding: 10px;
}
.templeinfo img{
  max-width: 380px;
}
.list4 li{
  list-style-type: none;
  text-align: left;
  margin-left: 45px;
}



/*Temple Reservation*/
.reservationtitle{font-size: 36px;}
.reservation {
 margin:10px auto;
 max-width: 400px;
 padding: 20px 12px 10px 0px;
 font: 18px 'Spectral SC', Gadget, sans-serif;
 box-shadow: 0px 0px 10px 10px #769E7B;
}
.reservation li {
 text-align: left;
 list-style: none;
 margin: 18px 8px 0 15px;
}
.reservation label {
 display:flex;
 font-weight: bold;
 text-align: left;
}
textarea, select {
 width: 100%;
 border:1px solid #769E7B;
 margin:0 8px 0 0;
 text-align: left;
}
.reservation input {
 width: 100%;
 text-align: left;
}
.reservation input[type=radio] {
 width: 10%;
}
.reservation input[type=submit], .reservation input[type=button]{
 text-align: center;
 border-radius: 10px;
 background: #4B99AD;
 padding: 8px 0;
 border: none;
 color: #fff;
 cursor: pointer;
}
.reservation input[type=submit]:hover, .reservation input[type=button]:hover{
 background: rgb(72, 182, 209);
}
.reservation .required{
 color:red;
}

/*Thank You Page*/
.thankyou {
  font-family: 'Kalam';
  font-weight: bold;
  font-size: 25px;
}



      
/*Services*/
.leftcol, .rightcol {
  max-width: 100%;
  flex: 1 0 15em;
  padding: 10px;
}
.sec1 li, .sec2 li {
  padding:10px;
  font-family: 'Kalam', Monaco, monospace;
  font-size: 1.1em;
  line-height: 1.2em;
  text-align: left;
} 
.sec1, .sec2 {
  border: 3px solid #2A1200;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px;  
}
.sec1{
  background: #769E7B;
}
.sec2{
  background: #FFD700 ;
  margin-top: 15px;
}
.services, .amenities {
  color: #2A1200 ;
}
.img1, .img2 {
  width: 375px;
  height: 300px;
  box-shadow: 2px 2px 2px black;
}




/*Contact Us*/
.sec3 { 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
  padding: 10px;  
}
.sec3 .leftcol {
  box-shadow: 0px 0px 15px black;
}
.list3 {
  list-style-type: none;
}
.sec3 li {
  padding:0px;
  font-family: 'Kalam', Monaco, monospace;
  font-size: 1em;
  line-height: 1em;
  text-align: left;
}
.img3{
  box-shadow: 0px 0px 15px black;
  margin-left: -10px;
  width: 412px;
  height: 350px;
}

.reservation input[type=send], .reservation input[type=button]{
  text-align: center;
  border-radius: 10px;
  background: #4B99AD;
  padding: 8px 0;
  border: none;
  color: #fff;
  cursor: pointer;
 }
.reservation input[type=send]:hover, .reservation input[type=button]:hover{
  background: rgb(72, 182, 209);
}