/* CIT 230 - Prestion Home page large*/
@import url('https://fonts.googleapis.com/css?family=Amarante|Inconsolata');


@media screen and (min-width: 750px) {
  
/*Menu Bar Full*/  
nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  background-color: #28ba35;
}
  
nav li {
  display:inline;
  border-right: 1px solid #edbc5a;    
}
  
nav li a {
  color: white;
  padding: 7px 10px;
  text-decoration: none;
}




/*5Day Forcast*/
.forecast {
  display: inline;
}





/*Gallary Page*/

.container {margin: 0rem auto; display:grid; grid-template-columns: 1fr 1fr 1fr;}
img { width: ; height: auto; margin: 0rem;}
figcaption {font-size: smaller;}

.shadow:hover {box-shadow: 0 0 50px #333;}










}

