/* CIT 230 - Prestion Home page medium*/
@import url('https://fonts.googleapis.com/css?family=Amarante|Inconsolata');


/* Menu Bar - medium and up views */
@media (min-width: 45em) {
	.navigation li:first-child { display: none;	}
	.navigation li { display: block; flex: 1 1 auto; }
  .navigation, .container { flex-direction: row; }
  



}



@media (min-width: 545px) {

.container { display:grid; grid-template-columns: 1fr 1fr;}

}