/* CIT 230 - Prestion Home page large-5*/
@import url('https://fonts.googleapis.com/css?family=Amarante|Inconsolata');


@media screen and (min-width: 600px) {
  
    
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #28ba35;
  }
  
  nav li {
    display:inline;
    border-right: 1px solid #edbc5a;    
  }
  
  nav li a {
    color: white;
    padding: 0px 15px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */



  
}



